html {
    height: 100%;
}

body {
    font-family: Arial;
    font-size: 2em;
    color: black;
    font-weight: 700;    
    background-color: rgba(159,176,148,1); 
    background-size: cover;
}



/*nav begins*/

#navhold {
  background-color: #EDE3C0;
  width: 100%;
  border-bottom: 2px solid #CE5D0A;
  border-top: 2px solid #CE5D0A;
  margin-top: 20px;
}


.nav>li>a {
  color: black;
  font-size: 1.5em;
  padding: 0px;
}

.nav>li>a:hover {
  text-decoration: underline;
  background-color: rgba(228,213,164,1);
  border-left: 1px solid #CE5D0A;
  border-right: 1px solid #CE5D0A;



}


/*navbar ends*/

.container {
    padding-top: 15px;
    background-color: rgba(159,176,148,1);
    margin-top: 25px;
}


.row {
	max-width: 30%;
	float: left;
}



.galleria { 
	width: 800px; 
	height: 600px;
	display: inline-block;
}

.sidebar {
	width: 250px;
  	background-color: #EDE3C0;
  	float: left;
  	height: 600px;
  	text-align: center;


}

table {
	font-size: 1.2em;
}

td>a {
	color: black;
}

td>a:hover{
	color: black;
}

.tdbutton:hover {
  	background-color: rgba(228,213,164,1);
	  text-decoration: underline;
  	border: 1px solid #CE5D0A;


}
.actives {
  background-color: rgba(228,213,164,1);

}


.footer {
  border-top: 2px solid #CE5D0A;
  border-bottom: 2px solid #CE5D0A;
  text-align: center;
  margin-top: 3%;
  background-color: rgba(228,213,164,1);
  padding-top: 5px;
  margin-bottom: 20px;


}